body { padding-top: 60px; }

h3 {
    font-weight: 700;
    letter-spacing: 1px;
    color: #EF8354;
}

p {
  color: #FFFFFF;
}

.anchor-pad {
  display: block;
  height: 60px;
  margin-top: -60px;
  visibility: hidden;
}

.navbar {
  background-color: #2D3142;
}

a{
  color: #Ef8354;
}

.navbar a:hover {
  text-decoration: none;
  color: #EF8354;
  
}
.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    background-color: #2D3142;
}

.btn-default {
  color: #EF8354;
  border-radius: 0;
}

.btn-default:hover, .btn-default:active, .btn-default:focus, .btn-default:active:focus {
  background-color: #BFC0C0;
}

.jumbotron {
  margin-bottom: 0px;
}

.jumbotron.about {
  background: #4F5D75;
}

.jumbotron.portfolio {
  background: #BFC0C0;
}

.jumbotron.contact {
  background: #4F5D75;
}

.display-table{
  display: table;
  table-layout: fixed;
}

.display-cell {
  display: table-cell;
  vertical-align: middle;
  float: none;
  text-align: right;
}

.grid {
  padding: 20px 20px 100px 20px;
  max-width: 1300px;
  margin: 0 auto;
  list-style: none;
  text-align: center;
}

.grid li {
  display: inline-block;
  width: 440 px;
  margin: 0;
  padding: 20px;
  text-align: left;
  position: relative;
}

.grid figure {
  margin: 0;
  position: relative;
}

.grid figure img {
  max-width: 100%;
  display: block;
  position: relative;
}

.grid figcaption {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  background: #4F5D75;
  color: white;
}

.caption-style figure img{
  z-index: 10;
  transition: transform 0.4s;
}

.no-touch .caption-style figure:hover img, .caption-style figure.cs-hover img {
  transform: scale(0.7);
  opacity: .1;
}

.caption-style figcaption {
  height: 100%;
  width: 100%;
  opacity: 0;
  transform: scale(0.6);
  backface-visibility: hidden;
  transition: transform 0.4s, opacity 0.4s;
}

.no-touch .caption-style figure:hover figcaption,
.caption-style figure.cs-hover figcaption {
  transform: scale(1);
  opacity: 1;
}

.caption-style figure span {
  position: absolute;
  bottom: 20px;
  left: 0px;
  padding-left: 20px;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    zoom: 1
}

@media screen and (max-width: 31.5em) {
  .grid {
    padding: 10px 10px 100px 10px;
  }
  .grid li {
    width: 100%;
    min-width: 300px;
  }
}